@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(0,0,0)
    )
    rgb(0,0,0);
}

:root{
  --nav-text : #788CA0;
}
